<html>
<head>

    <title>Mada Task</title>

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="col-md-12">
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
            <th>ID</th>
            <th>name</th>
            <th>identity_number</th>
            <th>phone_number</th>
            <th>email</th>
            <th>address</th>
            <th>location</th>
            </thead>
            <tbody>
            {% for customer in Customer_list %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.identity_number }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.location}}</td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
        <span><a href="/customer/create" class="btn btn-primary">Add New Embloyee</a></span>
        <span><a href="/home" class="btn btn-primary">Home</a></span>
    </div>
</div>
</body>
</html>