<!DOCTYPE html>
<html lang="en">
<head>

    <title>Mada Task</title>

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <!--    other includes -->
</head>
<body>

{% csrf_token %}
<div class="row align-items-center">

    <div>
        {% for each in Customer_list%}
        <tr>
            <td> {{each.name}}&nbsp; &nbsp;</td>
            <td> {{each.identity_number}}&nbsp; &nbsp;</td>
            <td> {{each.phone_number}}&nbsp; &nbsp;</td>
            <td> {{each.email}}&nbsp; &nbsp;</td>
            <td> {{each.address}}&nbsp; &nbsp;</td>
            <td> {{each.location}}&nbsp; &nbsp;</td>
        </tr>
        <br>
        {% endfor %}
    </div>
</div>


</body>
</html>